* {
  box-sizing: border-box;
  font-family: fantasy;
}

body {
  display: flex;
  flex-direction: column;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
h1:hover {
  color:#21e;
  
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background: repeating-linear-gradient(0deg, #c4c4c4, #dcdcdc, #8b8b8b);  text-align: center;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  outline-width: 8px;
  color: black;
  outline-color: white;
  background: repeating-linear-gradient(0deg, #c7c7c7, #6f6f6f 100%, #4d7079 1%);  text-align: center;
  outline: auto;
  padding: 14px 16px;
  outline-offset: -2px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color: white;
  background: repeating-linear-gradient(0deg, #c4c4c4, #dcdcdc, #8b8b8b);  text-align: center;

}

/* Create three unequal columns that floats next to each other */
.column {
  float: right;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
  background-color: skyblue;
  outline-color: grey;
  outline-offset: 12px;
  flex-grow: 1;
  flex-direction: column;
  flex-flow: column;
  flex-wrap: nowrap ;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}